@font-face {
	font-family: 'Saonara';
	src: url('../../assets/fonts/saonara.otf') format('opentype');
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'Akzidenz Grotesk';
	src: url('../../assets/fonts/AkzidenzGrotesk-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Akzidenz Grotesk';
	src: url('../../assets/fonts/AkzidenzGrotesk-Roman.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Minion Pro';
	src: url('../../assets/fonts/Minionpro-regular.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}


b, strong {
	font-weight: bold;
}

$primary: 'Saonara', san serif;
$secondary: 'Akzidenz Grotesk', san serif;
$tertiary: 'Minion Pro';


h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $primary;

}

p, li{
	font-family: $secondary;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	letter-spacing: 0;
	line-height: 25px;

}

a {
	text-decoration: none;
	font-family: $primary;
}


h1, .h1 {
	font-size: 50px;
	letter-spacing: 0;
	line-height: 50px;

  @include media-breakpoint-lg() {
    font-size: ratio-vw(50px);
    line-height: ratio-vw(50px);
  }
}

@media only screen and (max-width: 1025px) {

  h1, .h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

h2, .h2 {
  font-size: 48px;
  line-height: 56px;

  @include media-breakpoint-lg() {
    font-size: ratio-vw(48px);
    line-height: ratio-vw(56px);
  }
}

@media only screen and (max-width: 1025px) {

	h2, .h2 {
	  font-size: 36px;
	  line-height: 44px;
	}
  }

h3, .h3 {
	font-size: 40px;
	letter-spacing: 0;
	line-height: 59px;
  
	@include media-breakpoint-lg() {
	  font-size: ratio-vw(40px);
	  line-height: ratio-vw(59px);
	}
  }

  @media only screen and (max-width: 1025px) {

	h3, .h3 {
	  font-size: 28px;
	  line-height: 36px;
	}
  }


  h4, .h4 {
	font-size: 30px;
	line-height: 36px;
  
	@include media-breakpoint-lg() {
	  font-size: ratio-vw(30px);
	  line-height: ratio-vw(36px);
	}
  }


  @media only screen and (max-width: 1025px) {

	h4, .h4 {
	  font-size: 20px;
	  line-height: 26px;
	}
  }


  h5, .h5 {
	font-size: 26px;
	line-height: 32px;
  
	@include media-breakpoint-lg() {
	  font-size: ratio-vw(26px);
	  line-height: ratio-vw(32px);
	}
  }


  @media only screen and (max-width: 1025px) {

	h5, .h5 {
	  font-size: 18px;
	  line-height: 24px;
	}
  }